<html ng-app="myApp">

<head No wrap>
    <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <script src="dirPagination.js"></script>
</head>

<body>
    <div id="mainController" ng-controller="MyController" class="my-controller" style="background-color:#ffffff; ">
        <div style="z-index:1; position: fixed; background-color:#ffffff; width:100%; padding-bottom:7px">
            <div style="width:4%; padding-top:20; display:inline-block;"> <img src="stack.png" style="width:15; height:15; margin-left:20; cursor:pointer;" onclick="myFun()" /> </div>
            <div style="width:95%; text-align:center; display:inline-block;">
                <a href="http://sunlightfoundation.com/" ; target="_blank"><img id="headingimg" style="height:30" src="logo.png" /></a> <span id="apitext" style="font-size:25; margin-top: 10">Congress API</span> </div>
        </div>
        <div id="mySidenav" class="sidenav" style="display:inline-block; float:left; margin-top:50;"> <a href="" onclick="changeContents(0);"><span class="glyphicon glyphicon-user" id="limg" style="color:white;"></span> <span id="l" style="color:white"><font size="3"> Legislators</font></span></a> <a href="" onclick="changeContents(1);"><span class="glyphicon glyphicon-file"  id="bimg"></span> <span id="b"><font size="3"> Bills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></span></a> <a href="" onclick="changeContents(2);"><span class="glyphicon glyphicon-log-in"  id="cimg"></span><span id="c"><font size="3">&nbsp;&nbsp;Committees&nbsp;&nbsp;</font></span></a> <a href="" onclick="changeContents(3);"><span class="glyphicon glyphicon-star"  id="fimg"></span><span id="f"><font size="3">  Favorites&nbsp;&nbsp;&nbsp;&nbsp;</font></span></a> </div>
        <div id="legislatorsPage" style="background-image:url('bg.png'); display:inline-block; width:89%; float:left; margin-top:50;">
            <p class="h3">Legislators</p>
            <hr style="border: 0; border-top: 1px solid #ccc;" />
            <div style="border-width:0.8px;border-radius:6px;background-color: white;box-shadow: 1px 1px 1px 1px #888888;border-style:solid;border-color:gray;">
                <div id="stateCarousel" data-interval="false" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#ByState">By State</a></li>
                                <li><a data-toggle="tab" href="#House">House</a></li>
                                <li><a data-toggle="tab" href="#Senate">Senate</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="ByState" class="tab-pane fade in active" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <select id="selectState" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onchange="selectChange();"> </select>
                                            <h3>Legislators By State</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="stateList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="party">Party</th>
                                                            <th class="name">Name</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="district">District</th>
                                                            <th class="state">State</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoByState | filter : {state : filtering}:true | orderBy:['state','name'] | itemsPerPage: pageSize " pagination-id="pagestate">
                                                        <td><img style='height:20px;width:20px' src='{{info.party}}'></td>
                                                        <td>{{info.name}}</td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <td>{{info.district}}</td>
                                                        <td>{{info.state}}</td>
                                                        <!--onclick="javascript:$('#stateCarousel').carousel(1);"-->
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="fetchDetails(info.bioid);">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagestate" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div id="House" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_hFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="filterHouse()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>Legislators By House</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="stateList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="party">Party</th>
                                                            <th class="name">Name</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="district">District</th>
                                                            <th class="state">State</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoByHouse |filter:houseFilter| orderBy:'name' |itemsPerPage: pageSize " pagination-id="pagehouse">
                                                        <td><img style='height:20px;width:20px' src='{{info.party}}'></td>
                                                        <td>{{info.name}}</td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <td>{{info.district}}</td>
                                                        <td>{{info.state}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="fetchDetails(info.bioid);">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagehouse" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div id="Senate" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_sFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="filterSenate()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>Legislators By Senate</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="stateList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="party">Party</th>
                                                            <th class="name">Name</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="district">District</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoBySenate |filter:senateFilter| orderBy:'name'| itemsPerPage: pageSize " pagination-id="pagesenate">
                                                        <td><img style='height:20px;width:20px' src='{{info.party}}'></td>
                                                        <td>{{info.name}}</td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <td>{{info.state}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="fetchDetails(info.bioid);">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" pagination-id="pagesenate"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="personDetails" class="item">
                            <div style="border-color:lightgray; border-radius:5px; border-width:0.5px;border-style:solid; "> <span style="border-width:0.8px;border-radius:3px;background-color: white;border-style:solid;border-color:lightgray; padding:10px;margin:5px;" class="glyphicon glyphicon-chevron-left" onclick="javascript:$('#stateCarousel').carousel(0);"></span> Details <span id="favBtn">

                                </span> </div>
                            <div class="container-fluid">
                                <div class=row>
                                    <div id="personalInfo" class="col-md-6">
                                        <hr/>
                                        <div class="row">
                                            <div id="personImageDiv" class="text-center col-md-6"> </div>
                                            <div id="personDetailsDiv" class="col-md-6"> </div>
                                        </div>
                                        <div class="row">
                                            <div id="socialinfo" class="col-md-12"> </div>
                                        </div>
                                    </div>
                                    <div id="committes" class="col-md-6">
                                        <div id="committeesDiv" class="col-md-12"> </div>
                                        <div id="billsDiv" class="col-md-12"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="billsPage" style="background-image:url('bg.png'); width:89%; float:left; margin-top:50; display:none;">
            <p class="h3">Bills</p>
            <hr style="border: 0; border-top: 1px solid #ccc;" />
            <div style="border-width:0.8px;border-radius:6px;background-color: white;box-shadow: 1px 1px 1px 1px #888888;border-style:solid;border-color:gray;">
                <div id="billCarousel" data-interval="false" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#ActiveBills">Active Bills</a></li>
                                <li><a data-toggle="tab" href="#NewBills">New Bills</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="ActiveBills" class="tab-pane fade in active" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_abFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="afilterBill()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>Active Bills</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="abillList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="billId">Bill ID </th>
                                                            <th class="billType">Bill Type</th>
                                                            <th class="title" style="width:230px;">Title</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="intro">Introduced On</th>
                                                            <th class="sponsor">Sponsor</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoByActiveBill |filter:factivebill| orderBy:'-intro'| itemsPerPage: pageSize " pagination-id="pageabill">
                                                        <td>{{info.billid}}</td>
                                                        <td>{{info.billtype}}</td>
                                                        <td style="width:230px;">{{info.title}}</td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <td>{{info.intro}}</td>
                                                        <td>{{info.sponsor}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="fetchBillDetails(info.billid,0);">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pageabill" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div id="NewBills" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_nbFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="nfilterBill()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>New Bills</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="nbillList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="billId">Bill ID </th>
                                                            <th class="billType">Bill Type</th>
                                                            <th class="title" style="width:230px;">Title</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="intro">Introduced</th>
                                                            <th class="sponsor">Sponsor</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoByNewBill |filter:fnewbill| orderBy:'-intro'| itemsPerPage: pageSize " pagination-id="pagenbill">
                                                        <td>{{info.billid}}</td>
                                                        <td>{{info.billtype}}</td>
                                                        <td style="width:230px;">{{info.title}}</td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <!--onclick="javascript:$('#stateCarousel').carousel(1);"-->
                                                        <td>{{info.intro}}</td>
                                                        <td>{{info.sponsor}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="fetchBillDetails(info.billid,1);">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagenbill" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="billDetails" class="item">
                            <div style="border-color:lightgray; border-radius:5px; border-width:0.5px;border-style:solid; "> <span style="border-width:0.8px;border-radius:3px;background-color: white;border-style:solid;border-color:lightgray; padding:10px;margin:5px;" class="glyphicon glyphicon-chevron-left" onclick="javascript:$('#billCarousel').carousel(0);"></span> Details <span id="billFavBtn">
                                    
                                </span> </div>
                            <div class="container">
                                <div class=row>
                                    <div id="billInfo" class="col-md-6"> </div>
                                    <div id="billpdf" class="col-md-6"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="committeesPage" style="background-image:url('bg.png'); display:inline-block; width:89%; float:left;margin-top:50; display:none;">
            <p class="h3">Committees</p>
            <hr style="border: 0; border-top: 1px solid #ccc;" />
            <div style="border-width:0.8px;border-radius:6px;background-color: white;box-shadow: 1px 1px 1px 1px #888888;border-style:solid;border-color:gray;">
                <div id="comCarousel" data-interval="false" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#HouseCommittee">House</a></li>
                                <li><a data-toggle="tab" href="#SenateCommittee">Senate</a></li>
                                <li><a data-toggle="tab" href="#JointCommittee">Joint</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="HouseCommittee" class="tab-pane fade in active" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_hcFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="hfilterCommittee()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>House</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="hCommitteeList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp; </th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="committeeid"> Committee ID</th>
                                                            <th class="cname" style="width:230px;">Name</th>
                                                            <th class="pname">Parent Committee</th>
                                                            <th class="contact">Contact</th>
                                                            <th class="office">Office</th>
                                                        </thead>
                                                    </tr>
                                                    <!--info.cImages,info.chamber,info.committee_id,info.name,info.parent,info.phone,info.office-->
                                                    <tr dir-paginate="info in infoByHouseCommittee |filter:fhousecommittee| orderBy:'committee_id' |itemsPerPage: pageSize " pagination-id="pagehcommittee">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="saveFavCommittee(info)"><span class="glyphicon glyphicon-star" style='color:{{info.col}}; text-shadow:0 0 1px  black,0 0 1px  black,0 0 1px  black,0 0 1px  black ;'></span></button>
                                                        </td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'>
                                                            <br/>{{info.chamber}}</td>
                                                        <td>{{info.committee_id}}</td>
                                                        <td style="width:230px;">{{info.name}}</td>
                                                        <td>{{info.parent}}</td>
                                                        <!--onclick="javascript:$('#stateCarousel').carousel(1);"-->
                                                        <td><a href="tel:{{info.phone}}">{{info.phone}}</a></td>
                                                        <td>{{info.office}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagehcommittee" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div id="SenateCommittee" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_scFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="sfilterCommittee()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>Senate</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="sCommitteeList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="committeeid"> Committee ID</th>
                                                            <th class="cname" style="width:230px;">Name</th>
                                                            <th class="pname">Parent Committee</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoBySenateCommittee |filter:fsenatecommittee|  orderBy:'committee_id' |itemsPerPage: pageSize " pagination-id="pagescommittee">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="saveFavCommittee(info)"><span class="glyphicon glyphicon-star" style='color:{{info.col}}; text-shadow:0 0 1px  black,0 0 1px  black,0 0 1px  black,0 0 1px  black ;'></span></button>
                                                        </td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'>
                                                            <br/>{{info.chamber}}</td>
                                                        <td>{{info.committee_id}}</td>
                                                        <td style="width:230px;">{{info.name}}</td>
                                                        <td>{{info.parent}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagescommittee" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <div id="JointCommittee" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <input id="input_jcFilter" style="float:right; margin-top:10px;  margin-right:1%; height:5%; width:150;" onpaste="this.onchange()" onchange="jfilterCommittee()" oninput="this.onchange()" onkeypress="this.onchange()" placeholder="Search">
                                            <h3>Joint</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="jCommitteeList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="committeeid"> Committee ID</th>
                                                            <th class="jname" style="width:230px;">Name</th>
                                                        </thead>
                                                    </tr>
                                                    <tr dir-paginate="info in infoByJointCommittee |filter:fjointcommittee| orderBy:'committee_id'| itemsPerPage: pageSize " pagination-id="pagejcommittee">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="saveFavCommittee(info)"><span class="glyphicon glyphicon-star" style='color:{{info.col}}; text-shadow:0 0 1px  black,0 0 1px  black,0 0 1px  black,0 0 1px  black ;'></span></button>
                                                        </td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImages}}'> {{info.chamber}}</td>
                                                        <td>{{info.committee_id}}</td>
                                                        <td style="width:230px;">{{info.name}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <dir-pagination-controls boundary-links="true" pagination-id="pagejcommittee" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="favoritesPage" style="background-image:url('bg.png'); display:inline-block; width:89%; float:left; margin-top:50; display:none;">
            <p class="h3">Favorites</p>
            <hr style="border: 0; border-top: 1px solid #ccc;" />
            <div style="border-width:0.8px;border-radius:6px;background-color: white;box-shadow: 1px 1px 1px 1px #888888;border-style:solid;border-color:gray;">
                <div id="favCarousel" data-interval="false" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#FavLegislators">Legislators</a></li>
                                <li><a data-toggle="tab" href="#FavBills">Bills</a></li>
                                <li><a data-toggle="tab" href="#FavCommittees">Committees</a></li>
                            </ul>
                            <div class="tab-content ">
                                <div id="FavLegislators" class="tab-pane   fade in active" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <h3>Favorite Legislators</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="flegislatorsList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp; </th>
                                                            <th class="name">Image</th>
                                                            <th class="name">Party</th>
                                                            <th class="name">Name</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="state">State</th>
                                                            <th class="name">Email</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
                                                        </thead>
                                                    </tr>
                                                    <tr ng:repeat="info in favLegislators">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="deleteEntries(favLegislators,'bioid',info.bioid,0)"><span class="glyphicon glyphicon-trash"></span></button>
                                                        </td>
                                                        <td><img style='height:50px;width:50px' src='{{info.image}}'></td>
                                                        <td><img style='height:20px;width:20px' src={{info.partyImage}}></td>
                                                        <td>{{info.lastname}} , {{info.firstname}}</td>
                                                        <td> <img style='height:20px;width:20px' src={{info.cImage}}> {{info.chamber}}</td>
                                                        <td>{{info.state}}</td>
                                                        <td><a href='mailto:{{info.email}}' target='_blank'> {{info.email}} </a></td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="showLegDetails(info.bioid)">View Details</button>
                                                        </td>
                                                        <!--var imgInfo = "<img src='" + imgTag + "' width='170px';height='170px';>";--></tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="text-center"> </div>
                                    </div>
                                </div>
                                <div id="FavBills" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <h3>Favorite Bills</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="fCommitteeList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;</th>
                                                            <th class="billId">Bill ID </th>
                                                            <th class="billType">Bill Type</th>
                                                            <th class="title" style="width:230px;">Title</th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="intro">Introduced On</th>
                                                            <th class="sponsor">Sponsor</th>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                        </thead>
                                                    </tr>
                                                    <tr ng:repeat="info in favBills">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="deleteEntries(favBills,'billId',info.billId,1)"><span class="glyphicon glyphicon-trash"></span></button>
                                                        </td>
                                                        <td>{{info.billId}}</td>
                                                        <td>{{info.type}}</td>
                                                        <td style="width:230px;">{{info.title}}</td>
                                                        <td> <img style='height:20px;width:20px' src={{info.cImage}}> {{info.chamber}}</td>
                                                        <td>{{info.intro}}</td>
                                                        <td>{{info.sponsor}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-primary' ng-click="showBillDetails(info.billId)">View Details</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="FavCommittees" class="tab-pane fade" style="padding:15px;">
                                    <div style="border-color:gray; border-radius:5px; box-shadow: 1px 1px 1px 1px;border-width:1px;border-style:solid; ">
                                        <div style="border-width:0.5px; border-style:solid; border-color:#D3D3D3;  padding-left:2%; background-image:url('bg.png');">
                                            <h3>Favorite Committees</h3> </div>
                                        <div style="background-color:#ffffff; ">
                                            <div class="table-responsive " id="fCommitteeList" style="padding:2%; ">
                                                <table class='table'>
                                                    <tr>
                                                        <thead>
                                                            <th class="spaces">&nbsp;&nbsp;&nbsp; </th>
                                                            <th class="chamber">Chamber</th>
                                                            <th class="committeeid"> Committee ID</th>
                                                            <th class="cname" style="width:230px;">Name</th>
                                                            <th class="pname">Parent Committee</th>
                                                            <th class="contact">Sub Committee</th>
                                                        </thead>
                                                    </tr>
                                                    <tr ng:repeat="info in favCommittees">
                                                        <td>
                                                            <button type='button' class='btn btn-default' ng-click="deleteEntries(favCommittees,'comId',info.comId,2)"><span class="glyphicon glyphicon-trash"></span></button>
                                                        </td>
                                                        <td><img style='height:20px;width:20px' src='{{info.cImage}}'>
                                                            <br/>{{info.chamber}}</td>
                                                        <td>{{info.comId}}</td>
                                                        <td style="width:230px;">{{info.name}}</td>
                                                        <td>{{info.parent}}</td>
                                                        <td>{{info.subCom}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="billDetails" class="item">
                            <div style="border-color:lightgray; border-radius:5px; border-width:0.5px;border-style:solid; ">
                                <button type='button' class='btn btn-primary' onclick="javascript:$('#billCarousel').carousel(0);">back</button> Details </div>
                            <div class="container">
                                <div class=row>
                                    <div id="billInfo" class="col-md-6"> </div>
                                    <div id="billpdf" class="col-md-6"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--http://www.w3schools.com/howto/howto_js_sidenav.asp -->

</html>