body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 11%;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    position: fixed;
    padding-top: 40px;
}

.sidenav a {
    padding: 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidenav {
    width: 11%;
}

#legislatorsPage {
    padding: 20px;
    margin-left: 11%;
}

#billsPage,
#committeesPage,
#favoritesPage {
    padding: 20px;
    margin-left: 11%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*.table-responsive{
    overflow-x: visible;
}*/

@media (max-device-width: 768px) {
    #l,
    #c,
    #b,
    #f {
        display: none;
    }
    #limg,
    #cimg,
    #bimg,
    #fimg {
        text-align: center;
    }
    #lCommitteesTable tr > *:nth-child(3) {
        display: none;
    }
    #lBillTable tr > *:nth-child(2),
    #lBillTable tr > *:nth-child(3),
    #lBillTable tr > *:nth-child(4),
    #lBillTable tr > *:nth-child(5) {
        display: none;
    }
    #billpdf {
        display: none;
    }
    #apitext {
        font-size: 15px;
    }
    #headingimg {
        height: 20px;
    }
    #selectState {
        height: 3%
    }
}

@media (max-width: 768px) {
    #l,
    #c,
    #b,
    #f {
        display: none;
    }
    #limg,
    #cimg,
    #bimg,
    #fimg {
        text-align: center;
    }
    #lCommitteesTable tr > *:nth-child(3) {
        display: none;
    }
    #lBillTable tr > *:nth-child(2),
    #lBillTable tr > *:nth-child(3),
    #lBillTable tr > *:nth-child(4),
    #lBillTable tr > *:nth-child(5) {
        display: none;
    }
    #billpdf {
        display: none;
    }
    #apitext {
        font-size: 15px;
    }
    #headingimg {
        height: 20px;
    }
    #selectState {
        height: 3%
    }
}